<VirtualHost *:80>
    DocumentRoot /var/www/html/wordpress

    <Directory /var/www/html/wordpress>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/{{ ansible_hostname }}_error.log
    CustomLog ${APACHE_LOG_DIR}/{{ ansible_hostname }}_access.log combined
</VirtualHost>